<!DOCTYPE html>
<html>
    <head>
        <title>Pollard Rho Factorization</title>
    </head>
    <body>
        <h1>Pollard Rho Factorization</h1>
        <ul id="messages">
        </ul>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
                console.log(content)
            };
        </script>
    </body>
</html>
